@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik+Bubbles:regular");
:root {
  --bg-night-sky: #001f3f;
  --primary-color: #0068e6;
  --bg-form: #d7d7d7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-night-sky);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 5rem;
  background: rgba(39, 122, 205, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 50%;
  max-width: 600px;
}

.container form label {
  display: flex;
}

.container form .title {
  width: 100%;
  position: relative;
  top: -20px;
  text-align: center;
  font-family: "Rubik Bubbles", cursive;
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container form input {
  background: rgba(5, 0, 99, 0.3);
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  outline: none;
  border-radius: 0.4rem;
  font-size: 1.3rem;
}

.container form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.container form button {
  background: rgba(5, 0, 99, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

.container form button:hover {
  background: rgba(5, 0, 99, 0.7);
}

.container form button i {
  padding-left: 2px;
}

@media (max-width: 768px) {
  .container form {
    width: 70%;
    padding: 2rem 3rem;
  }
}

@media (max-width: 480px) {
  .container form {
    width: 90%;
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 390px) {
  .container form {
    width: 95%;
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    gap: 1.5rem;
  }
}

@media (max-width: 390px) {
  .container {
    gap: 1rem;
  }
}
